[telegram]
username="Salomon_006"

[experiment]
; Общее количество кликов (попыток) за весь эксперимент.
; При средней скорости 1 клик/сек, 300 кликов займут около 5 минут чистой работы.
total_trials=10

; Количество кликов до паузы (экрана отдыха).
trials_per_block=5

; Количество тренировочных кликов (0 чтобы отключить)
practice_trials=3
